/* General Styles */
body {
    font-family: 'Manrope', sans-serif;
    background: #f0f4f8; 
}

.common-width {
    width: 90%;
    max-width: 1200px; 
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

.header-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px;
    background: rgba(128, 128, 128, 0.5); 
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.header-image {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.header-image img {
    width: 100%;
    height: auto;
    display: block;
}

.logo {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

.logo h1 {
    font-size: 2.5em;
    margin: 0;
}

.logo hr {
    margin: 30px auto;
    width: 70%; 
}

.logo p {
    font-size: 1.2em; 
    margin: 0;
}

.admin {
    font-family: 'Marck Script', cursive;
    text-decoration: underline;
    margin-top: 30px;
    display: block;
}

#hero-wrapper {
    background: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid black; 
}

#hero-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#hero-box-1, #hero-box-2 {
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
}

#hero-box-1 {
    padding: 20px;
    background-color: black;
    color: white;
    border: 1px solid black;
    height: 400px; 
    box-sizing: border-box;
    font-size: 1.2em; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

#hero-box-1 h2 {
    font-size: 1.5em; 
    text-decoration: underline; 
}

#hero-box-1 p {
    padding-left: 20px; 
}

#hero-box-2 {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    height: 400px;
    box-sizing: border-box;
    flex: 2; 
}

#hero-box-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* Admin Post Styles */
#admin-post {
    text-align: center;
    background: rgba(128, 128, 128, 0.5); 
}

#admin-post hr {
    border: 1px solid black;
}

.admin-post-content {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-size: 1.2em;
    border: 2px solid white;
    margin-left: 10px;
    margin-right: 10px;
}

#single-post {
    background-color: #070a0d;
    color: rgb(245, 237, 237);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 40px auto; 
}

#single-post .post-image {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin: 10px 0;
}

#single-post .single-post-link {
    display: inline-block;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

#single-post .single-post-link:hover {
    background-color: #45A049;
}

/* Blog List Grid Styles */
#blog-list-grid {
    background-color: rgba(17, 118, 212, 0.735);
    position: relative; 
}

#see-more-container {
    position: absolute;
    top: -10px; 
    left: 30px; 
}

#see-more {
    margin: 20px 0 10px 5%;
    text-align: left;
    color: black;
    font-weight: bold;
    white-space: nowrap; 
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    grid-auto-rows: minmax(200px, auto); 
    gap: 20px; 
    margin-top: 50px; 
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 4px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-item h2 {
    font-size: 1.2em; 
    margin: 0 0 10px 0;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.grid-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.grid-item .single-post-link {
    margin-top: auto;
    background-color: #4CAF50; 
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    display: block;
    transition: background-color 0.3s;
}

.grid-item .single-post-link:hover {
    background-color: #45A049;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.post-button {
    background-color: #4CAF50; 
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.post-button:hover {
    background-color: #45A049;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0; 
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-links {
    margin-bottom: 10px;
}

.social-links svg {
    width: 48px;
    height: 48px;
    margin: 0 10px;
}

.index-link {
    margin-bottom: 10px;
}

.index-link a {
    color: #fff;
    text-decoration: none;
}

.index-link a:hover {
    text-decoration: underline;
}

.carousel {
    position: relative;
    background-color: rgba(33, 150, 243, 0.7);
    border-radius: 15px;
    height: 540px;
    max-width: 1200px; 
    overflow: visible;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    background-image: url('https://i.ibb.co/zZGgCBV/D86-DF443-066-A-40-DF-A0-A8-9-FE56780011-B-1-105-c-kopi.jpg');
    background-size: cover;
    background-position: center;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 480px;
    overflow-x: auto;
    padding-bottom: 20px;
    align-items: center;
}

.carousel-card {
    flex: 0 0 auto;
    height: 380px;
    width: 300px; 
    margin: 0 15px;
    background-color: #FFFFFF;
    border: 1px solid #2196F3;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    overflow: hidden;
    position: relative;
    top: 20px;
}

.carousel-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    z-index: 1;
}

.carousel-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-card h2 {
    font-size: 1.2em; 
    margin: 5px 0;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #1976D2; 
    text-align: center; 
}

.carousel-card p {
    font-size: 1em; 
    margin: 5px 0;
    height: 2.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #555;
    text-align: center; 
}

.carousel-card .post-button {
    background-color: #1976D2; 
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
    margin-top: 10px; 
}

.carousel-card .post-button:hover {
    background-color: #1565C0; 
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-controls button {
    background-color: rgba(33, 150, 243, 0.7);
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s;
    z-index: 1000; 
}

.carousel-controls button:hover {
    background-color: rgba(25, 118, 210, 0.9);
}

#hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero-box-1,
#hero-box-2 {
    width: 100%;
}

/* Media queries for tablets and desktops */
@media (min-width: 834px) {
   
    .header-image img {
        height: 800px; 
    }

    #hero-container {
        flex-direction: row;
        justify-content: space-between;
        gap: 20px; 
    }

    #hero-box-1,
    #hero-box-2 {
        width: 48%;
        height: 600px; 
    }

    #hero-box-2 {
        flex: 2; 
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        border-radius: 10px;
        overflow: hidden;
    }

    #hero-box-2 img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }

    #blog-list-grid {
        width: 90%;
        max-width: 1200px; 
    }

    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
        gap: 20px; 
    }

    .grid-item {
        padding: 20px;
        border: 1px solid #2196F3; 
        border-radius: 10px;
    }

    .grid-item img {
        height: 150px; 
        border-radius: 10px;
    }

    #admin-post,
    #single-post,
    #blog-list-grid,
    .carousel {
        height: auto;
    }

    #admin-post {
        padding: 40px;
    }

    #single-post {
        padding: 40px;
    }

    #blog-list-grid {
        padding: 40px;
    }

    .carousel {
        height: 740px;
    }

    .carousel-inner {
        height: 680px;
    }

    .carousel-card {
        height: 560px;
    }
}

.carousel-headline {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}
