body {
    font-family: 'Manrope', sans-serif;
}

.header-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.header-image {
    width: 100%;
}

.header-image img {
    width: 100%;
    height: auto;
    display: block;
}

.logo {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.logo h1 {
    font-size: 2em;
    margin: 0;
}

.logo hr {
    margin: 30px auto;
}

.logo p {
    font-size: 1em;
    margin: 0;
}

.admin {
    font-family: 'Marck Script', cursive;
    text-decoration: underline;
    margin-top: 30px;
    display: block;
}

#hero-wrapper {
    border: 1px solid black;
    margin: 5px auto;
    padding: 5px;
    width: 411px;
}

#hero-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#hero-box-1, #hero-box-2 {
    flex: 1;
    height: 400px;
    margin: 0 10px;
}

#hero-box-1 {
    padding: 20px;
    background-color: black;
    color: white;
    border: 1px solid black;
}

#hero-box-2 {
    background: url('https://s3-alpha-sig.figma.com/img/ec21/83e2/03ad814be2b99f961f477e1ad0db86f9?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=doEp~44Y9ROQD-xKuckwPDP~Vt5lGfQ4FELVh1dDhMSGSFew2yVo8Pm2y3t7hM0qeuxzWkMsbQArHiYwVa61dxJmm9Hn3mSE9qxL~hrbxKNWLxcHNPaoI~EbPA7Enyyfy6JxuqUe4ode7ECbdG1Hbh5xN9213Oh-YRc5jNr0orHX1Wrh0V1M6GtuJa-0q4jlN-UJ4G7z0z2Q82-KsjwpB35dqpTUpb2ptLxkyMF5hNdHEMAyqAVivYR69AHxd4l-8ZXYj3fJX1dmKy1f8va-E-3SZi9BlDnaJ~s~Sz7LekNBHeUqmp2UJPyUiQw6AINsRQ316OjR~0nDp0kWQJFjCA__') no-repeat center center;
    background-size: cover;
    border: 1px solid black;
}

#admin-post {
    text-align: center;
    margin: 20px 0;
}

#admin-post hr {
    border: 1px solid black;
}

.admin-post-content {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-size: 1.2em;
    border: 2px solid white;
    margin-left: 10px;
    margin-right: 10px;
}

#single-post {
    background-color: black;
    color: white;
    padding: 20px;
}

.single-post-image {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.post-background {
    background-color: #5186CB;
    padding: 20px;
}

#blog-list-grid {
    margin: 20px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 4px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-item .title-container {
    height: 50px;
    overflow: hidden;
    margin-bottom: 10px;
}

.grid-item h2 {
    font-size: 1em;
    margin: 0;
}

.grid-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.grid-item .single-post-link {
    margin-top: auto;
    background-color: #E68900;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    display: block;
    transition: background-color 0.3s;
}

.grid-item .single-post-link:hover {
    background-color: #cc7a00;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.post-button {
    background-color: #E68900;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.post-button:hover {
    background-color: #cc7a00;
}

/* Media Query for devices up to 834px */
@media (max-width: 834px) {
    #hero-container {
        flex-direction: column;
    }

    #hero-box-1, #hero-box-2 {
        margin: 10px 0;
        height: auto;
    }

    #hero-box-2 {
        background: none;
    }

    #hero-box-2::before {
        content: '';
        display: block;
        background: url('https://s3-alpha-sig.figma.com/img/ec21/83e2/03ad814be2b99f961f477e1ad0db86f9?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=doEp~44Y9ROQD-xKuckwPDP~Vt5lGfQ4FELVh1dDhMSGSFew2yVo8Pm2y3t7hM0qeuxzWkMsbQArHiYwVa61dxJmm9Hn3mSE9qxL~hrbxKNWLxcHNPaoI~EbPA7Enyyfy6JxuqUe4ode7ECbdG1Hbh5xN9213Oh-YRc5jNr0orHX1Wrh0V1M6GtuJa-0q4jlN-UJ4G7z0z2Q82-KsjwpB35dqpTUpb2ptLxkyMF5hNdHEMAyqAVivYR69AHxd4l-8ZXYj3fJX1dmKy1f8va-E-3SZi9BlDnaJ~s~Sz7LekNBHeUqmp2UJPyUiQw6AINsRQ316OjR~0nDp0kWQJFjCA__') no-repeat center center;
        background-size: cover;
        height: 300px;
    }
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-links {
    margin-bottom: 10px;
}

.social-links svg {
    width: 48px;
    height: 48px;
    margin: 0 10px;
}

.index-link {
    margin-bottom: 10px;
}

.index-link a {
    color: #fff;
    text-decoration: none;
}

.index-link a:hover {
    text-decoration: underline;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

copyright p {
    margin: 0;
}
