/* CSS-stil for Administrasjonssiden */

/* Generelle stiler */
body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;


}

.login-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #eb690c;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    background-color: rgb(101, 34, 34);
}

a {
    text-decoration: none;
    color: #e0e5ea;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
